@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.title {
    font-family: 'Roboto Slab', serif;
}

.left-hover {
    margin-left: 150px;
}

.restaurant {
    margin-left: 50px;
    margin-right: 50px;
    border: solid 1px grey;
    background: #eeeeee;
    border-radius: 10px;
    margin-top: 50px;
    height: 150px;
    text-align: left;
    font-family: 'Roboto Slab', serif;
}

.restaurant-address {
    color: grey;
    font-size: 14px;
}
.restaurant-image {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 10px;
    max-height: 125px;
}
.right {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.centered-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-42 {
    margin-left: 42%;
}

.selected-item-row {
    background-color: lightgrey;
    border-top: 1px solid darkgrey;
}

.col-centered{
    float: none;
    margin: 0 auto;
}